/* Root Variables */
:root {
  --background-color: #293050;
  --primary-color: #003AFA;
  --secondary-color: #07080B;
  --accent-color: #79B5E2;
  --text-color: #F7F7F7;
  --muted-text-color: #9DB1BF;
  --font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Global Styles */
body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: var(--font-family);
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Chat Container */
#chat-container {
  background-color: var(--secondary-color);
  border-radius: 8px;
  width: 400px;
  max-width: 90%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  height: 80vh;
}

/* Messages Display */
#messages {
  flex: 1;
  padding: 10px;
  overflow-y: auto;
  max-height: 400px;
}

.message {
  background-color: var(--background-color);
  border-radius: 5px;
  padding: 15px;
  margin-bottom: 10px;
  width: fit-content;
  max-width: 60%;
  word-wrap: break-word;
}

.user-message {
  align-self: flex-end;
  margin-left: auto;
  background-color: var(--primary-color);
  color: var(--text-color);
  border-radius: 25px 25px 5px 25px;
}

.bot-message {
  align-self: flex-start;
  background-color: var(--secondary-color);
  color: var(--text-color);
  border-radius: 25px 25px 25px 5px;
}

/* Input Container */
#input-container {
  display: flex;
  border-top: none;
  padding: 10px;
  position: relative;
}

#user-input {
  flex: 1;
  padding: 10px;
  border: none;
  outline: none;
  background-color: var(--background-color);
  color: var(--text-color);
  border-radius: 25px;
  padding-right: 40px;
  resize: none;
  overflow-y: auto;
  max-height: 20%;
}

#send-button {
  position: absolute;
  right: 15px;
  bottom: 10px;
  background: none;
  border: none;
  color: var(--text-color);
  cursor: pointer;
  font-size: 1.5em;
  transform: rotate(45deg);
}
