/* Root Variables */
:root {
  --accent-color: #79B5E2;
  --background-color: #293050;
  --font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  --muted-text-color: #9DB1BF;
  --primary-color: #003AFA;
  --secondary-color: #07080B;
  --text-color: #F7F7F7;
}

/* Global Styles */
body {
  /* Positioning */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  /* Box Model */
  margin: 0;
  padding: 0;

  /* Typography */
  font-family: var(--font-family);
  color: var(--text-color);

  /* Visual */
  background-color: var(--background-color);
}

/* Chat Container */
#chat-container {
  /* Positioning */
  display: flex;
  flex-direction: column;
  overflow: hidden;
  height: 80vh;

  /* Box Model */
  width: 400px;
  max-width: 90%;
  border-radius: 8px;

  /* Visual */
  background-color: var(--secondary-color);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Messages Display */
#messages {
  /* Positioning */
  flex: 1;
  overflow-y: auto;

  /* Box Model */
  padding: 10px;
}

.message {
  /* Box Model */
  padding: 15px;
  margin-bottom: 10px;
  width: fit-content;
  max-width: 60%;

  /* Typography */
  word-wrap: break-word;

  /* Visual */
  background-color: var(--background-color);
  border-radius: 5px;
}

.user-message {
  /* Positioning */
  align-self: flex-end;
  margin-left: auto;

  /* Visual */
  background-color: var(--primary-color);
  color: var(--text-color);
  border-radius: 25px 25px 5px 25px;
}

.bot-message {
  /* Positioning */
  align-self: flex-start;

  /* Visual */
  background-color: var(--secondary-color);
  color: var(--text-color);
  border-radius: 25px 25px 25px 5px;
}

/* Input Container */
#input-container {
  /* Positioning */
  display: flex;
  position: relative;

  /* Box Model */
  padding: 10px;
  border-top: none;
}

#user-input {
  /* Positioning */
  flex: 1;
  resize: none;
  overflow-y: hidden;

  /* Box Model */
  padding: 17px;
  padding-right: 40px;
  min-height: 35px;
  max-height: 100%;
  border-radius: 25px;
  box-sizing: border-box;

  /* Typography */
  color: var(--text-color);

  /* Visual */
  background-color: var(--background-color);
  border: none;
  outline: none;
}

#send-button {
  /* Positioning */
  position: absolute;
  right: 10px;
  bottom: 12px;

  /* Visual */
  background: none;
  border: none;
  cursor: pointer;
}

#chat-send-icon {
  /* Box Model */
  width: 25px;

  /* Visual */
  fill: var(--primary-color);
  transform: rotate(-35deg);
}
